.profile {
    background-color: #f1ede7;
    text-align: center;
    padding-left: 245px;
    padding-top: 40px;
    height: 200px;
  }

  .table {
    background-color: #ffffff;
    width: 1200px;
    height: 100%;
  }